<h1><%= @user.first_name %>'s Friends</h1>
<%= link_to 'Back', user_path(@user) %>

<div class="py-2">
  <%= link_to 'Add friend', new_user_friend_path %>
</div>
<br><br><br>

<% @user.friends.each do |friend| %>
  <div>
    <span>
      <%= link_to User.find(friend.friend_id).first_name, User.find(friend.friend_id) %> -
      <span class="text-sm">
        <%= show_unfriend_link(@user.id, friend.friend_id) %>
      </span>
    </span>
  </div>
<% end %>
