<h1>Add friend</h1>
<%= link_to 'Back', user_friends_path %>

<br><br><br>

<%= form_tag(new_user_friend_path, method: :get) do %>
  <p>Search for friend</p>
  <p class="text-xs italic pb-2">Note, you can search by first name, last name, or email address</p>
  <%= text_field_tag :search_query, params[:search_query], minlength: 3 %>
  <%= submit_tag 'Search', class: 'btn btn-success', name: nil %>
<% end %>

<% if @results %>
  <div class="py-8">
    <p>Results:</p>
    <% @results.each do |result| %>
      <div>
        <%= result.first_name %> <%= result.last_name %> - <%= add_or_remove_friend(@user, result) %>
      </div>
    <% end %>

    <%= link_to 'Clear results', new_user_friend_path, class: 'block py-3 uppercase font-semibold text-sm text-gray-500' %>
  </div>
<% end %>
