<div>
  <h2 class="mb-5"><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>

  <div class="mb-5">
    <h3><%= @user.first_name %> owes <%= number_to_currency(@user.bills.amount_owed) %> on the following bills:</h3>
    <ul>
      <% @user.bills.owed.each do |bill| %>
        <li><%= link_to "#{bill.title} - (#{number_to_currency(bill.amount)})", bill, class: 'no-underline hover:font-semibold' %></li>
      <% end %>
    </ul>
  </div>

  <div class="mb-5">
  <h3><%= @user.first_name %> has paid <%= number_to_currency(@user.bills.amount_paid) %> back:</h3>
    <ul>
      <% @user.bills.paid.each do |bill| %>
        <li><%= link_to "#{bill.title} - (#{number_to_currency(bill.amount)})", bill, class: 'no-underline hover:font-semibold' %></li>
      <% end %>
    </ul>
  </div>
</div>