<div>
  <% date = params.has_key?(:search) ? Date.parse("#{params[:search][:month]}-1") : Date.today %>
  <div class="py-5">
    <%= form_for(:search, url: root_path, method: :get) do |form| %>
      <span>Transactions from: </span>
      <%= form.month_field :month, value: date.strftime('%Y-%m') %>
      <%= form.submit "Show", class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="flex justify-end">
    <%= turbo_frame_tag "new_bill", target: "_top" %>

    <%= link_to new_bill_path, data: { turbo_frame: "new_bill" }, class: 'no-underline' do %>
      <div class="inline-block rounded-full border-[0.5px] border-black bg-green-300 px-2 text-3xl">
        <p>+</p>
      </div>
    <% end %>
  </div>

  <% if Bill.from_month_grouped(date).empty? %>
    <h3 class="text-center font-semibold my-5">No bills found for <%= date.strftime('%B %Y') %></h3>
  <% end %>

  <% Bill.from_month_grouped(date).each do |bill_group| %>
    <div class="sticky pb-2 font-light text-xs text-gray-400"><%= bill_group[0] %></div>
    <% bill_group[1].each_with_index do |bill, index| %>
    <% bill = Bill.find(bill) %>
      <%= turbo_frame_tag bill, target: "_top" do %>
        <%= link_to edit_bill_path(bill), data: { turbo_frame: bill }, class: 'no-underline' do %>
          <%= render 'layouts/bill_group', bill: bill %>
        <% end %>
      <% end %>
      <% unless bill_group[1].length == index + 1 %>
        <div class="border-[0.3px] border-gray-300 my-5"></div>
      <% end %>
    <% end %>

    <div class="my-5 border border-dashed border-black"></div>
  <% end %>

  <p><%= link_to 'go to bills', bills_path, class: 'button no-underline' %></p>

</div>
