<div>
  <div class="grid grid-cols-3 border-b border-slate-400 pb-3">

    <%# Navigation opener %>
    <div id="nav-opener" class="border">[ x ]</div>

    <%# Center of page %>
    <div class="border text-center">
      <p class="text-xl">IOU</p>

      <% if current_user %>
        <%= link_to "Logged in as #{current_user.first_name}", destroy_user_session_path, class: 'text-sm font-light hover:underline' %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_url %>
      <% end %>
    </div>

    <%# User profile page %>
    <div class="border text-right">
      <%= link_to user_path(current_user) do %>
        <p class="inline-block rounded-full border border-black p-2"><%= initials(current_user) %></p>
      <% end %>
    </div>
  </div>

  <div class="py-5">
    <p>Transactions from [month picker]</p>
  </div>

  <div class="bottom flex justify-end h-20">
    <%= link_to new_bill_path do %>
      <div class="inline-block rounded-full border-[0.5px] border-black bg-green-300 px-2 text-3xl">
        <p>+</p>
      </div>
    <% end %>
  </div>

  <div class="sticky pb-2 font-light text-xs text-gray-400">[8/30/22]</div>

  <% @bills.each do |bill| %>
    <%= link_to bill do %>
      <%= render 'layouts/bill_group', bill: bill %>
    <% end %>

      <div class="my-5 border border-dashed border-black"></div>
  <% end %>

  <p><%= link_to 'go to bills', bills_path %></p>

</div>
