<%= form_with model: bill, class: 'outline outline-1 rounded-md p-5 bg-sky-50' do |form| %>

  <div data-controller="display-paid" data-action="change->display-paid#toggle">
    <span class="pb-3">
      <%= form.select :user_id, User.all.collect {|user| [ user.first_name, user.id ] }, class: 'border rounded-lg mb-3' %>
    </span>

    <span data-display-paid-target="input" >
      <%= form.select :paid, [ ['paid', true], ['owes', false] ], data: { display_paid_target: "input" } %>
    </span>

    <%= form.select :person2_id, User.all.collect {|user| [ user.first_name, user.id ] }, selected: User.second.id, class: 'rounded-xl' %>
    <% bill.errors.full_messages_for(:user_id).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>

    <span>for...</span>

    <%= form.text_field :title, placeholder: 'Rent', class: "mt-3" %>
    <% bill.errors.full_messages_for(:title).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>

    <div class="mt-3 order-2" data-display-paid-target="output">
      <p>Paid via <%= form.text_field :paid_via, placeholder: 'Zelle', class: 'w-24' %> on <%= form.date_field :paid_on %></p>

      <% bill.errors.full_messages_for(:paid_via).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
      <% bill.errors.full_messages_for(:paid_on).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </div>
  </div>

  <span>Amount paid/owed:</span>
  <%= form.text_field :amount, placeholder: '12.34', class: 'border-b-2 border-x-0 border-t-0 max-w-[100px] mt-3' %>
  <% bill.errors.full_messages_for(:amount).each do |message| %>
    <div class="error"><%= message %></div>
  <% end %>

  <div class="border-b my-5"></div>

  <p>Description</p>
  <p class="text-sm font-light text-gray-500 -mt-1">Use this for itemized bills, like grocery orders</p>
  <p><%= form.text_field :description, placeholder: 'add list here if applicable' %></p>

  <div class="border-b my-5"></div>

  <p>Transaction date</p>
  <p class="-mt-1"><span class="text-sm font-semibold text-gray-500">NOT paid date.</span> <span class="text-sm font-light text-gray-500">When was the item(s) purchased?</span></p>
  <%= form.date_field :transaction_date %>
  <% bill.errors.full_messages_for(:transaction_date).each do |message| %>
    <div class="error"><%= message %></div>
  <% end %>

  <div class="mt-5">
    <%= form.submit %><br>
  </div>
<% end %>