<%= turbo_frame_tag @bill do %>
  <p>new bill</p>
  <% if current_user %>
    <p>Logged in as <%= link_to current_user.first_name, current_user %></p>
    <%= link_to 'Sign out', destroy_user_session_path %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_url %>
  <% end %>
  <%= render "form", bill: @bill %>
<% end %>