<div class="grid grid-cols-3 border-b border-slate-400 pb-3 mb-5">
  <%# Navigation opener %>
  <div id="nav-opener">
    <%# TODO maybe remove this %>
  </div>

  <%# Center of page %>
  <div class="text-center">
    <p><%= link_to 'IOU', root_path, class: 'text-xl no-underline hover:font-semibold' %></p>

    <% if current_user %>
      <%= link_to "Logged in as #{current_user.first_name}", destroy_user_session_path, class: 'text-sm font-light hover:underline' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_url %>
    <% end %>
  </div>

  <%# User profile page %>
  <div class="text-right">
    <% if current_user %>
      <%= link_to user_path(current_user), class: 'no-underline' do %>
        <% color = %>
        <p class="inline-block rounded-full border border-black p-2"><%= initials(current_user) %></p>
      <% end %>
    <% end %>
  </div>
</div>